src/main/java/py/com/fecyl/comunicasifen/wsdl/de/recibe.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:tns="http://ekuatia.set.gov.py/sifen/xsd" targetNamespace="http://ekuatia.set.gov.py/sifen/xsd">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ekuatia.set.gov.py/sifen/xsd"
                   attributeFormDefault="unqualified" elementFormDefault="qualified"
                   targetNamespace="http://ekuatia.set.gov.py/sifen/xsd">
            <xs:import namespace="http://www.w3.org/2000/09/xmldsig#"/>
            <xs:element name="rEnviDe">
                <xs:annotation>
                    <xs:documentation>Recepcion de Documentos Electronicos</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="dId">
                            <xs:annotation>
                                <xs:documentation>Identificador de control de envio</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:annotation>
                                    <xs:documentation>Identificador de control de envio</xs:documentation>
                                </xs:annotation>
                                <xs:restriction base="xs:integer">
                                    <xs:totalDigits value="15"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="xDE">
                            <xs:annotation>
                                <xs:documentation>XML del Documento Electronico Transferido
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:any namespace="http://ekuatia.set.gov.py/sifen/xsd" processContents="skip"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rRetEnviDe">
                <xs:annotation>
                    <xs:documentation>Respuesta de la recepcion de Documentos Electronicos
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="rProtDe" type="rProtDe">
                            <xs:annotation>
                                <xs:documentation>Protocolo de procesamiento de DE
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:simpleType name="tdId">
                <xs:annotation>
                    <xs:documentation>
                        Numero de protocolo de autorizacion precedido por el literar ID
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:simpleType name="tdProtAut">
                <xs:annotation>
                    <xs:documentation>
                        Numero del protocolo de autorizacion
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:long"/>
            </xs:simpleType>
            <xs:complexType name="tgResProc">
                <xs:annotation>
                    <xs:documentation>
                        Grupo de resultado de procesamiento
                    </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="dCodRes">
                        <xs:annotation>
                            <xs:documentation>
                                Codigo de resultado de procesamiento
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="dMsgRes">
                        <xs:annotation>
                            <xs:documentation>
                                Mensaje del resultado de procesamiento
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="rProtDe">
                <xs:annotation>
                    <xs:documentation>
                        Respuesta del protocolo de procesamiento del DE
                    </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="Id">
                        <xs:annotation>
                            <xs:documentation>
                                cdc resultado
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="dFecProc" type="fecUTC"/>
                    <xs:element minOccurs="0" name="dDigVal">
                        <xs:annotation>
                            <xs:documentation>
                                Valor hash del DE procesado
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:base64Binary"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="dEstRes">
                        <xs:annotation>
                            <xs:documentation>
                                Estado del resultado
                            </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="0" name="dProtAut" type="tdProtAut"/>
                    <xs:element maxOccurs="100" minOccurs="0" name="gResProc" type="tgResProc"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="tEmail">
                <xs:restriction base="xs:string">
                    <xs:pattern
                            value="([0-9a-zA-Z#$%]([-.\w]*[0-9a-zA-Z#$%'\\.\\-_])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tDesPais">
                <xs:restriction base="noEmptyString">
                    <xs:whiteSpace value="preserve"/>
                    <xs:minLength value="4"/>
                    <xs:maxLength value="30"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tCDC">
                <xs:annotation>
                    <xs:documentation>
                        Codigo de Control del Documento Electronico
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{2}([0-9]{7}[0-9A-D])[0-9]{34}"/>
                    <xs:length value="44"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiTipEmi">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de Emision: 1(Normal), 2(Contingencia)
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:pattern value="[1-2]"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesTipEmi">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion del tipo de emision: 1(Normal). 2(Contingencia)
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:minLength value="6"/>
                    <xs:maxLength value="12"/>
                    <xs:enumeration value="Normal"/>
                    <xs:enumeration value="Contingencia"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiCodSe">
                <xs:annotation>
                    <xs:documentation>
                        La generacion de este codigo es responsabilidad del emisor, segun los
                        delineamientos
                        establecidos en el
                        Manual Tecnico, no debe ser un numero secuencial, sino aleatorio, tampoco
                        debe
                        contener solo ceros
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:pattern value="[0-9]{9}"/>
                    <xs:minInclusive value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiIndPres">
                <xs:annotation>
                    <xs:documentation>
                        Indicador de presencia
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="5"/>
                    <xs:enumeration value="6"/>
                    <xs:enumeration value="9"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesIndPres">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion del indicador de presencia
                    </xs:documentation>
                </xs:annotation>
                <xs:union>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Operación presencial"/>
                            <xs:enumeration value="Operación electrónica"/>
                            <xs:enumeration value="Operación telemarketing"/>
                            <xs:enumeration value="Venta a domicilio"/>
                            <xs:enumeration value="Operación bancaria"/>
                            <xs:enumeration value="Operación cíclica"/>
                        </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="10"/>
                            <xs:maxLength value="30"/>
                            <xs:pattern value=".+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:union>
            </xs:simpleType>
            <xs:simpleType name="tiTipTra">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de transaccion
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="5"/>
                    <xs:enumeration value="6"/>
                    <xs:enumeration value="7"/>
                    <xs:enumeration value="8"/>
                    <xs:enumeration value="9"/>
                    <xs:enumeration value="10"/>
                    <xs:enumeration value="11"/>
                    <xs:enumeration value="12"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesTiTran">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion del tipo de transaccion
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Venta de mercadería"/>
                    <xs:enumeration value="Prestación de servicios"/>
                    <xs:enumeration value="Mixto (Venta de mercadería y servicios)"/>
                    <xs:enumeration value="Venta de activo fijo"/>
                    <xs:enumeration value="Venta de divisas"/>
                    <xs:enumeration value="Compra de divisas"/>
                    <xs:enumeration value="Promociones o entrega de muestras"/>
                    <xs:enumeration value="Donación"/>
                    <xs:enumeration value="Anticipo"/>
                    <xs:enumeration value="Compra de productos"/>
                    <xs:enumeration value="Compra de servicios"/>
                    <xs:enumeration value="Venta de crédito fiscal"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdInfoEmi">
                <xs:annotation>
                    <xs:documentation>
                        Informacion de interes del emisor respecto al DE
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="3000"/>
                    <xs:pattern value=".+"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdInfoFisc">
                <xs:annotation>
                    <xs:documentation>
                        Informacion de interes del Fisco respecto al DE
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="3000"/>
                    <xs:pattern value=".+"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiTiDE">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de documento electronico
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:pattern value="1|[4-7]"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesTiDE">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion del tipo de documento electronico
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Factura electrónica"/>
                    <xs:enumeration value="Autofactura electrónica"/>
                    <xs:enumeration value="Nota de crédito electrónica"/>
                    <xs:enumeration value="Nota de débito electrónica"/>
                    <xs:enumeration value="Nota de remisión electrónica"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdNumTim">
                <xs:annotation>
                    <xs:documentation>
                        Numero de timbrado del documento electronico.
                    </xs:documentation>
                </xs:annotation>
                <xs:union>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="8"/>
                            <xs:maxLength value="8"/>
                            <xs:pattern value="0+[1-9][0-9]*|[1-9]+[0-9]+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:union>
            </xs:simpleType>
            <xs:simpleType name="tdEst">
                <xs:annotation>
                    <xs:documentation>Codigo de establecimiento proveido por el Sistema
                        de timbrado
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:minLength value="3"/>
                    <xs:pattern value="[0-9]{3}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdPunExp">
                <xs:annotation>
                    <xs:documentation>
                        Codigo de Punto de Exp. proveido por el Sist.Timbrado
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:minLength value="3"/>
                    <xs:pattern value="[0-9]{3}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdNumDoc">
                <xs:annotation>
                    <xs:documentation>
                        Numero de documento del DE
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:minLength value="7"/>
                    <xs:maxLength value="7"/>
                    <xs:pattern value="0+[1-9][0-9]*|[1-9]+[0-9]+"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdNumDocId">
                <xs:annotation>
                    <xs:documentation>
                        Numero de documento de identidad
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9A-Za-z\-]{1,20}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdFeIniT">
                <xs:annotation>
                    <xs:documentation>
                        Fecha inicio de vigencia del Timbrado
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date">
                    <xs:minInclusive value="2018-05-01"/>
                    <xs:pattern value="[2-9][0-9]{3}-([0][1-9]|[1][0-2])-([0][0-9]|[1-2][0-9]|[3][0-1])"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdFeIniS">
                <xs:annotation>
                    <xs:documentation>
                        Fecha inicio de vigencia de SIFEN
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:date">
                    <xs:minInclusive value="2018-05-01"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="fecHhmmss">
                <xs:annotation>
                    <xs:documentation>
                        Normalizador de Fecha y Hora AAAA-MM-DDThh:mm:ss
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:dateTime">
                    <xs:pattern value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiTImp">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de impuesto afectado
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesTImp">
                <xs:annotation>
                    <xs:documentation>
                        Descripción del tipo de impuesto afectado
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="IVA">
                        <xs:annotation>
                            <xs:documentation>
                                Corresponde al codigo 1 del campo dDesTimp
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="ISC">
                        <xs:annotation>
                            <xs:documentation>
                                Corresponde al codigo 2 del campo dDesTimp
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Renta">
                        <xs:annotation>
                            <xs:documentation>
                                Corresponde al codigo 3 del campo dDesTimp
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Ninguno">
                        <xs:annotation>
                            <xs:documentation>
                                Corresponde al codigo 4 del campo dDesTimp
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tRuc">
                <xs:restriction base="xs:string">
                    <xs:minLength value="5"/>
                    <xs:maxLength value="8"/>
                    <xs:pattern value="[1-9][0-9]*[0-9A-D]?"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tDVer">
                <xs:restriction base="xs:integer">
                    <xs:pattern value="[0-9]"/>
                    <xs:whiteSpace value="collapse"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiTipCont">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de contribuyente. 1(Persona Fisica), 2(Persona Juridica)
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:whiteSpace value="collapse"/>
                    <xs:pattern value="[1-2]"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tcTipReg">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de Régimen
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:pattern value="[1-8]"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tcTipRegAdu">
                <xs:annotation>
                    <xs:documentation>
                        Regimenes Aduaneros
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:pattern value="[0-9]{4}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tcCiuEmi">
                <xs:restriction base="xs:integer">
                    <xs:pattern value="[0-9]{1,5}"/>
                    <xs:minInclusive value="1"/>
                    <xs:maxInclusive value="99999"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesCiuEmi">
                <xs:restriction base="noEmptyString">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="30"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tcDisEmi">
                <xs:annotation>
                    <xs:documentation>
                        Codigo de distrito
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="1"/>
                    <xs:pattern value="[0-9]{1,4}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesDisEmi">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion de distrito
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="noEmptyString">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="30"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdTel">
                <xs:restriction base="xs:string">
                    <xs:pattern value="\d{8,15}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdCel">
                <xs:restriction base="xs:string">
                    <xs:pattern value="\d{10,20}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tcActEco">
                <xs:annotation>
                    <xs:documentation>
                        Codigo de actividad economica del emisor segun la lista de maragantu
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="8"/>
                    <xs:pattern value="[0-9A-Z]{1,8}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesActEco">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion de actividad economica
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="noEmptyString">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="300"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiNatRec">
                <xs:annotation>
                    <xs:documentation>
                        Naturaleza del receptor: 1(Contribuyente), 2(No Contribuyente)
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:whiteSpace value="collapse"/>
                    <xs:pattern value="[1-2]"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiNatVen">
                <xs:annotation>
                    <xs:documentation>
                        Naturaleza del vendedor: 1(No Contribuyente), 2(Extranjero)
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:whiteSpace value="collapse"/>
                    <xs:pattern value="[1-2]"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesNatVen">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion del vendedor: 1(No contribuyente). 2(Extranjero)
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:minLength value="10"/>
                    <xs:maxLength value="16"/>
                    <xs:enumeration value="No contribuyente"/>
                    <xs:enumeration value="Extranjero"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiTiOpe">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de operacion: 1(B2B), 2(B2C), 3(B2G)
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:whiteSpace value="collapse"/>
                    <xs:pattern value="[1-3]"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiTipDoc">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de documento de identidad del vendedor
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:whiteSpace value="collapse"/>
                    <xs:pattern value="[1-4]"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiTipDocRec">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de documento de identidad del receptor
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:whiteSpace value="collapse"/>
                    <xs:pattern value="[1-5]"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDtipDoc">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion del tipo de documento de identidad del vendedor
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Cédula paraguaya"/>
                    <xs:enumeration value="Pasaporte"/>
                    <xs:enumeration value="Cédula extranjera"/>
                    <xs:enumeration value="Carnet de residencia"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDtipDocRec">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion del tipo de documento de identidad del receptor
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Cédula paraguaya"/>
                    <xs:enumeration value="Pasaporte"/>
                    <xs:enumeration value="Cédula extranjera"/>
                    <xs:enumeration value="Carnet de residencia"/>
                    <xs:enumeration value="Innominado"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiCondOpe">
                <xs:annotation>
                    <xs:documentation>Condicion de la operacion</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:pattern value="[1-2]"/>
                    <xs:enumeration value="1">
                        <xs:annotation>
                            <xs:documentation>Contado</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="2">
                        <xs:annotation>
                            <xs:documentation>Crédito</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDCondOpe">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion de condicion de operacion
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Contado"/>
                    <xs:enumeration value="Crédito"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiTiPago">
                <xs:annotation>
                    <xs:documentation>
                        Codigo de tipo de pago
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:totalDigits value="2"/>
                    <xs:pattern value="[1-9]|1[0-6]"/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="5"/>
                    <xs:enumeration value="6"/>
                    <xs:enumeration value="7"/>
                    <xs:enumeration value="8"/>
                    <xs:enumeration value="9"/>
                    <xs:enumeration value="10"/>
                    <xs:enumeration value="11"/>
                    <xs:enumeration value="12"/>
                    <xs:enumeration value="13"/>
                    <xs:enumeration value="14"/>
                    <xs:enumeration value="15"/>
                    <xs:enumeration value="16"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesTiPag">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion del tipo de pago
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Efectivo"/>
                    <xs:enumeration value="Cheque"/>
                    <xs:enumeration value="Tarjeta de crédito"/>
                    <xs:enumeration value="Tarjeta de débito"/>
                    <xs:enumeration value="Transferencia"/>
                    <xs:enumeration value="Giro"/>
                    <xs:enumeration value="Billetera electrónica"/>
                    <xs:enumeration value="Tarjeta empresarial"/>
                    <xs:enumeration value="Vale"/>
                    <xs:enumeration value="Retención"/>
                    <xs:enumeration value="Anticipo"/>
                    <xs:enumeration value="Valor fiscal"/>
                    <xs:enumeration value="Valor comercial"/>
                    <xs:enumeration value="Compensación"/>
                    <xs:enumeration value="Permuta"/>
                    <xs:enumeration value="Pago bancario"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiDenTarj">
                <xs:annotation>
                    <xs:documentation>
                        Codigo de tipo de tarjeta
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:totalDigits value="1"/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="5"/>
                    <xs:enumeration value="6"/>
                    <xs:enumeration value="9"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesDenTarj">
                <xs:annotation>
                    <xs:documentation>
                        Descripción de denominación de la tarjeta
                    </xs:documentation>
                </xs:annotation>
                <xs:union>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="4"/>
                            <xs:maxLength value="20"/>
                            <xs:enumeration value="Visa"/>
                            <xs:enumeration value="Mastercard"/>
                            <xs:enumeration value="American Express"/>
                            <xs:enumeration value="Maestro"/>
                            <xs:enumeration value="Panal"/>
                            <xs:enumeration value="Cabal"/>
                        </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="4"/>
                            <xs:maxLength value="20"/>
                            <xs:pattern value=".+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:union>
            </xs:simpleType>
            <xs:simpleType name="tiForProPa">
                <xs:annotation>
                    <xs:documentation>
                        Forma de procesamiento del pago. 1(POS), 2(Pago Electronico)
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:short">
                    <xs:totalDigits value="1"/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdNunApOpe">
                <xs:annotation>
                    <xs:documentation>
                        Código de autorización de la operación
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:totalDigits value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tNumCheq">
                <xs:annotation>
                    <xs:documentation>
                        Numero de cheque
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:minLength value="8"/>
                    <xs:maxLength value="8"/>
                    <xs:pattern value="[0-9]{8}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDCondCred">
                <xs:annotation>
                    <xs:documentation>
                        Descripción de la condición de la operación a crédito
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Plazo"/>
                    <xs:enumeration value="Cuota"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tFecAAAAMMDD">
                <xs:restriction base="xs:string">
                    <xs:pattern value="[2-9][0-9]{3}([0][1-9]|[1][0-2])([0][0-9]|[1-2][0-9]|[3][0-1])"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tFecAAAAMMDDguion">
                <xs:restriction base="xs:string">
                    <xs:pattern value="[2-9][0-9]{3}-([0][1-9]|[1][0-2])-([0][0-9]|[1-2][0-9]|[3][0-1])"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdModCont">
                <xs:annotation>
                    <xs:documentation>
                        Modalidad - Codigo emitido por la DNCP
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="noEmptyString">
                    <xs:length value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdEntCont">
                <xs:annotation>
                    <xs:documentation>
                        Entidad - Codigo de contratacion emitido por la DNCP
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:pattern value="[0-9]{5}"/>
                    <xs:minInclusive value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdAnoCont">
                <xs:annotation>
                    <xs:documentation>
                        Anho - Codigo de contratacion emitido por la DNCP
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:totalDigits value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdSecCont">
                <xs:annotation>
                    <xs:documentation>
                        Secuencia - Codigo de contratacion emitido por la DNCP
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:pattern value="[0-9]{7}"/>
                    <xs:minInclusive value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdCondTiCam">
                <xs:annotation>
                    <xs:documentation>
                        Condición del tipo de cambio 1(Global), 2(Por ítem)
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:short">
                    <xs:totalDigits value="1"/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdCodInt">
                <xs:annotation>
                    <xs:documentation>
                        Codigo interno de mercaderia
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="20"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdParAranc">
                <xs:annotation>
                    <xs:documentation>
                        Partida arancelaria
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:pattern value="[0-9]{4}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdNCM">
                <xs:annotation>
                    <xs:documentation>
                        Nomenclatura comun del MERCOSUR (NCM)
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:pattern value="[0-9]{6,8}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDncpG">
                <xs:annotation>
                    <xs:documentation>
                        Codigo DNCP - Nivel General
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{8}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDncpE">
                <xs:annotation>
                    <xs:documentation>
                        Codigo DNCP - Nivel Especifico
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9]{3,4}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdGtin">
                <xs:annotation>
                    <xs:documentation>
                        Codigo GTIN por Producto y por Paquete
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:pattern value="[0-9]{8,14}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdCantProSer">
                <xs:annotation>
                    <xs:documentation>
                        Cantidad del producto/servicio
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="14"/>
                    <xs:fractionDigits value="4"/>
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="9999999999.9999"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tMontoBase">
                <xs:annotation>
                    <xs:documentation>
                        Tipo base para los atributos de monto
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="23"/>
                    <xs:fractionDigits value="8"/>
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="999999999999999.99999999"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tMontoBase4">
                <xs:annotation>
                    <xs:documentation>
                        Tipo base para los atributos de monto
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="19"/>
                    <xs:fractionDigits value="4"/>
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="999999999999999.9999"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiAfecIVA">
                <xs:annotation>
                    <xs:documentation>
                        Forma de afectacion del IVA 1(Gravado), 2(Exonerado), 3(Exento),
                        4(Gravado parcial)
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesAfecIVA">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion de la afectacion del IVA
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Gravado IVA"/>
                    <xs:enumeration value="Exonerado (Art. 83- Ley 125/91)"/>
                    <xs:enumeration value="Exento"/>
                    <xs:enumeration value="Gravado parcial (Grav- Exento)"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdPropIVA">
                <xs:annotation>
                    <xs:documentation>
                        Proporción gravada de IVA
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:totalDigits value="3"/>
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="100"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdTasaIVA">
                <xs:annotation>
                    <xs:documentation>
                        Tasa del IVA
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:totalDigits value="2"/>
                    <xs:minInclusive value="0"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tcCatISC">
                <xs:annotation>
                    <xs:documentation>
                        Categoria de ISC
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="5"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesCatISC">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion de categoria de ISC
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="SECCION I-(Cigarrillos,Tabacos,Esencias y Otros derivados del Tabaco)"/>
                    <xs:enumeration value="SECCION II - (Bebidas con y sin alcohol)"/>
                    <xs:enumeration value="SECCION III - (Alcoholes y Derivados del alcohol)"/>
                    <xs:enumeration value="SECCION IV - (Combustibles)"/>
                    <xs:enumeration value="SECCION V - (Artículos considerados de lujo)"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tcTasaISC">
                <xs:annotation>
                    <xs:documentation>
                        Tasa del ISC
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="5"/>
                    <xs:enumeration value="6"/>
                    <xs:enumeration value="7"/>
                    <xs:enumeration value="8"/>
                    <xs:enumeration value="9"/>
                    <xs:enumeration value="10"/>
                    <xs:enumeration value="11"/>
                    <xs:enumeration value="12"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiTipOpVN">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de operacion de venta de vehiculos
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:short">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesTipOpVN">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion del tipo de venta de vehiculos
                    </xs:documentation>
                </xs:annotation>
                <xs:union>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Venta a representante"/>
                            <xs:enumeration value="Venta al Consumidor final"/>
                            <xs:enumeration value="Venta a gobierno"/>
                            <xs:enumeration value="Venta a flota de vehículos"/>
                        </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="10"/>
                            <xs:maxLength value="50"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:union>
            </xs:simpleType>
            <xs:simpleType name="tdChasis">
                <xs:annotation>
                    <xs:documentation>
                        Chasis
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9A-Za-z]{17}"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiTipCom">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de combustible
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="5"/>
                    <xs:enumeration value="9"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesTipCom">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion del tipo de combustible
                    </xs:documentation>
                </xs:annotation>
                <xs:union>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Gasolina"/>
                            <xs:enumeration value="Diésel"/>
                            <xs:enumeration value="Etanol"/>
                            <xs:enumeration value="GNV"/>
                            <xs:enumeration value="Flex"/>
                        </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="3"/>
                            <xs:maxLength value="20"/>
                            <xs:pattern value=".+"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:union>
            </xs:simpleType>
            <xs:simpleType name="tiTipoPint">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de pintura del vehiculo
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="9"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesTP">
                <xs:annotation>
                    <xs:documentation>
                        Description del tipo de pintura
                    </xs:documentation>
                </xs:annotation>
                <xs:union>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Solida"/>
                            <xs:enumeration value="Metalica"/>
                            <xs:enumeration value="Perla"/>
                            <xs:enumeration value="Fosca"/>
                        </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="4"/>
                            <xs:maxLength value="10"/>
                            <xs:pattern value="[A-Za-z0-9]"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:union>
            </xs:simpleType>
            <xs:simpleType name="tcTipVeh">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de vehículo
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:minLength value="4"/>
                    <xs:maxLength value="10"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiCondVeh">
                <xs:annotation>
                    <xs:documentation>
                        Codigo de condicion del vehiculo
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:short">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesCondVeh">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Acabado"/>
                    <xs:enumeration value="Semi-acabado"/>
                    <xs:enumeration value="Inacabado"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tLectura">
                <xs:annotation>
                    <xs:documentation>
                        Lectura energía
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="13"/>
                    <xs:fractionDigits value="2"/>
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="99999999999.99"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdPoliza">
                <xs:annotation>
                    <xs:documentation>
                        Codigo de poliza
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:whiteSpace value="collapse"/>
                    <xs:maxLength value="20"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdVigPol">
                <xs:annotation>
                    <xs:documentation>
                        Vigencia de poliza de seguro
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="3"/>
                    <xs:fractionDigits value="1"/>
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="99.9"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdCRed">
                <xs:annotation>
                    <xs:documentation>
                        Campo de redondeo
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="8"/>
                    <xs:fractionDigits value="4"/>
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="9999.9999"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="noEmptyString">
                <xs:annotation>
                    <xs:documentation>
                        Cadena no vacia
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:whiteSpace value="preserve"/>
                    <xs:pattern value=".*[^\s].*"/>
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdTipCons">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de constancia de autofactura electronica
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesTipCons">
                <xs:annotation>
                    <xs:documentation>
                        Descripción del tipo de constancia
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Constancia de no ser contribuyente"/>
                    <xs:enumeration value="Constancia de microproductores"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tCiudad">
                <xs:annotation>
                    <xs:documentation>
                        Código de la ciudad donde se realiza la transacción
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:totalDigits value="5"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tDesCiudad">
                <xs:annotation>
                    <xs:documentation>
                        Descripción de la ciudad donde se realiza la transacción
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="noEmptyString">
                    <xs:maxLength value="30"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tDistrito">
                <xs:annotation>
                    <xs:documentation>
                        Código del distrito donde se realiza la transacción
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:totalDigits value="4"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tDesDistrito">
                <xs:annotation>
                    <xs:documentation>
                        Descripción del distrito donde se realiza la transacción
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="noEmptyString">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="30"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiTipDocAso">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de documento asociado
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:minInclusive value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesTipDocAso">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion del tipo de documento asociado
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Electrónico"/>
                    <xs:enumeration value="Impreso"/>
                    <xs:enumeration value="Constancia Electrónica"/>
                    <xs:minLength value="1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiTIpoDoc">
                <xs:annotation>
                    <xs:documentation>
                        Tipos de documentos impresos
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:positiveInteger">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="5"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesTIpoDoc">
                <xs:annotation>
                    <xs:documentation>
                        Tipos de documentos impresos
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Factura"/>
                    <xs:enumeration value="Nota de crédito"/>
                    <xs:enumeration value="Nota de débito"/>
                    <xs:enumeration value="Nota de remisión"/>
                    <xs:enumeration value="Comprobante de retención"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiMotEmi">
                <xs:annotation>
                    <xs:documentation>
                        Motivo de emision de la nota de credito/debito electronica
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="5"/>
                    <xs:enumeration value="6"/>
                    <xs:enumeration value="7"/>
                    <xs:enumeration value="8"/>
                    <xs:enumeration value="9"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesMotEmi">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion del motivo de la emision de la nota de credito/debito
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Anulación"/>
                    <xs:enumeration value="Devolución"/>
                    <xs:enumeration value="Descuento"/>
                    <xs:enumeration value="Bonificación"/>
                    <xs:enumeration value="Crédito incobrable"/>
                    <xs:enumeration value="Recupero de costo"/>
                    <xs:enumeration value="Recupero de gasto"/>
                    <xs:enumeration value="Ajuste de precio"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiMotivTras">
                <xs:annotation>
                    <xs:documentation>
                        Motivo de emisión
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                    <xs:enumeration value="5"/>
                    <xs:enumeration value="6"/>
                    <xs:enumeration value="7"/>
                    <xs:enumeration value="8"/>
                    <xs:enumeration value="9"/>
                    <xs:enumeration value="10"/>
                    <xs:enumeration value="11"/>
                    <xs:enumeration value="12"/>
                    <xs:enumeration value="13"/>
                    <xs:enumeration value="14"/>
                    <xs:enumeration value="15"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDMotivTras">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion del motivo de emisión
                    </xs:documentation>
                </xs:annotation>
                <xs:union>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Traslado por ventas"/>
                            <xs:enumeration value="Traslado por consignación"/>
                            <xs:enumeration value="Exportación"/>
                            <xs:enumeration value="Traslado por compra"/>
                            <xs:enumeration value="Importación"/>
                            <xs:enumeration value="Traslado por devolución"/>
                            <xs:enumeration value="Traslado entre locales de la empresa"/>
                            <xs:enumeration value="Traslado de bienes por transformación"/>
                            <xs:enumeration value="Traslado de bienes para reparación"/>
                            <xs:enumeration value="Traslado por emisor móvil"/>
                            <xs:enumeration value="Exhibición o Demostración"/>
                            <xs:enumeration value="Participación en ferias"/>
                            <xs:enumeration value="Traslado de encomienda"/>
                            <xs:enumeration value="Decomiso"/>
                        </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="60"/>
                            <xs:minLength value="5"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:union>
            </xs:simpleType>
            <xs:simpleType name="tiRespEmiNR">
                <xs:annotation>
                    <xs:documentation>
                        Responsable por la emisión de la Nota de Remisión Electrónica
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="1">
                        <xs:annotation>
                            <xs:documentation>
                                Emisor de la factura
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="2">
                        <xs:annotation>
                            <xs:documentation>
                                Poseedor de la factura y bienes
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="3">
                        <xs:annotation>
                            <xs:documentation>
                                Empresa Transportista
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="4">
                        <xs:annotation>
                            <xs:documentation>
                                Despachante de Aduanas
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="5">
                        <xs:annotation>
                            <xs:documentation>
                                Agente de transporte o intermediario
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesRespEmiNR">
                <xs:annotation>
                    <xs:documentation>
                        Descripción del Responsable de la emisión de la Nota de Remisión Electrónica
                    </xs:documentation>
                </xs:annotation>
                <xs:union>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="20"/>
                            <xs:maxLength value="36"/>
                            <xs:enumeration value="Emisor de la factura"/>
                            <xs:enumeration value="Poseedor de la factura y bienes"/>
                            <xs:enumeration value="Empresa transportista"/>
                            <xs:enumeration value="Despachante de Aduanas"/>
                            <xs:enumeration value="Agente de transporte o intermediario"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:union>
            </xs:simpleType>
            <xs:simpleType name="tiTTrans">
                <xs:annotation>
                    <xs:documentation>
                        Tipo de transporte
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="1"/>
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesTTrans">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion del tipo de transporte
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Propio"/>
                    <xs:enumeration value="Tercero"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiModTrans">
                <xs:annotation>
                    <xs:documentation>
                        Modalidad del transporte
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDesModTrans">
                <xs:annotation>
                    <xs:documentation>
                        Descripcion de la Modalidad de transporte
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Terrestre"/>
                    <xs:enumeration value="Fluvial"/>
                    <xs:enumeration value="Aéreo"/>
                    <xs:enumeration value="Multimodal"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tiRespFlete">
                <xs:annotation>
                    <xs:documentation>
                        Responsable por el costo del flete
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="2"/>
                    <xs:enumeration value="3"/>
                    <xs:enumeration value="4"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tcCondNeg">
                <xs:annotation>
                    <xs:documentation>
                        Condicion de la negociacion
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="CFR">
                        <xs:annotation>
                            <xs:documentation>
                                Costo y flete
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="CIF">
                        <xs:annotation>
                            <xs:documentation>
                                Costo, seguro y flete
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="CIP">
                        <xs:annotation>
                            <xs:documentation>
                                Transporte y seguros pagados hasta
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="CPT">
                        <xs:annotation>
                            <xs:documentation>
                                Transporte pagado hasta
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="DAP">
                        <xs:annotation>
                            <xs:documentation>
                                Entregada en el lugar convenido
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="DAT">
                        <xs:annotation>
                            <xs:documentation>
                                Entregada en terminal
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="DDP">
                        <xs:annotation>
                            <xs:documentation>
                                Entregada derechos pagados
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="EXW">
                        <xs:annotation>
                            <xs:documentation>
                                En fabrica
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="FAS">
                        <xs:annotation>
                            <xs:documentation>
                                Franco al costado del buque
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="FCA">
                        <xs:annotation>
                            <xs:documentation>
                                Franco transportista
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="FOB">
                        <xs:annotation>
                            <xs:documentation>
                                Franco a bordo
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDirec">
                <xs:annotation>
                    <xs:documentation>
                        Lugar de la transacción
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="noEmptyString">
                    <xs:maxLength value="255"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdDirec2">
                <xs:annotation>
                    <xs:documentation>
                        Direccion de longitud maxima 15 caracteres
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="noEmptyString">
                    <xs:maxLength value="255"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="tdNombre">
                <xs:annotation>
                    <xs:documentation>
                        Nombre o razon social
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="noEmptyString">
                    <xs:maxLength value="60"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="dIdType">
                <xs:annotation>
                    <xs:documentation>Identificador de control de envio
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:integer">
                    <xs:totalDigits value="15"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="fecUTC">
                <xs:annotation>
                    <xs:documentation>
                        Normalizador de Fecha y Hora en Formato UTC {AAAA-MM-DDThh:mm:ss-ss:ss}
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:dateTime">
                    <xs:pattern value="\d{4}-\d\d-\d\dT\d\d:\d\d:\d\d[+|-]\d\d:\d\d"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
        <schema xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns="http://www.w3.org/2001/XMLSchema"
                attributeFormDefault="unqualified" elementFormDefault="qualified"
                targetNamespace="http://www.w3.org/2000/09/xmldsig#">
            <simpleType name="CryptoBinary">
                <restriction base="base64Binary"/>
            </simpleType>
            <element name="Signature" type="ds:SignatureType"/>
            <complexType name="SignatureType">
                <sequence>
                    <element ref="ds:SignedInfo"/>
                    <element ref="ds:SignatureValue"/>
                    <element minOccurs="0" ref="ds:KeyInfo"/>
                    <element maxOccurs="unbounded" minOccurs="0" ref="ds:Object"/>
                </sequence>
                <attribute name="Id" type="ID" use="optional"/>
            </complexType>
            <element name="SignatureValue" type="ds:SignatureValueType"/>
            <complexType name="SignatureValueType">
                <simpleContent>
                    <extension base="base64Binary">
                        <attribute name="Id" type="ID" use="optional"/>
                    </extension>
                </simpleContent>
            </complexType>
            <element name="SignedInfo" type="ds:SignedInfoType"/>
            <complexType name="SignedInfoType">
                <sequence>
                    <element ref="ds:CanonicalizationMethod"/>
                    <element ref="ds:SignatureMethod"/>
                    <element maxOccurs="unbounded" ref="ds:Reference"/>
                </sequence>
                <attribute name="Id" type="ID" use="optional"/>
            </complexType>
            <element name="CanonicalizationMethod" type="ds:CanonicalizationMethodType"/>
            <complexType mixed="true" name="CanonicalizationMethodType">
                <sequence>
                    <any maxOccurs="unbounded" minOccurs="0" namespace="##any"/>
                </sequence>
                <attribute name="Algorithm" type="anyURI" use="required"/>
            </complexType>
            <element name="SignatureMethod" type="ds:SignatureMethodType"/>
            <complexType mixed="true" name="SignatureMethodType">
                <sequence>
                    <element minOccurs="0" name="HMACOutputLength" type="ds:HMACOutputLengthType"/>
                    <any maxOccurs="unbounded" minOccurs="0" namespace="##other"/>
                </sequence>
                <attribute name="Algorithm" type="anyURI" use="required"/>
            </complexType>
            <element name="Reference" type="ds:ReferenceType"/>
            <complexType name="ReferenceType">
                <sequence>
                    <element minOccurs="0" ref="ds:Transforms"/>
                    <element ref="ds:DigestMethod"/>
                    <element ref="ds:DigestValue"/>
                </sequence>
                <attribute name="Id" type="ID" use="optional"/>
                <attribute name="URI" type="anyURI" use="optional"/>
                <attribute name="Type" type="anyURI" use="optional"/>
            </complexType>
            <element name="Transforms" type="ds:TransformsType"/>
            <complexType name="TransformsType">
                <sequence>
                    <element maxOccurs="unbounded" ref="ds:Transform"/>
                </sequence>
            </complexType>
            <element name="Transform" type="ds:TransformType"/>
            <complexType mixed="true" name="TransformType">
                <choice maxOccurs="unbounded" minOccurs="0">
                    <any namespace="##other" processContents="lax"/>
                    <element name="XPath" type="string"/>
                </choice>
                <attribute name="Algorithm" type="anyURI" use="required"/>
            </complexType>
            <element name="DigestMethod" type="ds:DigestMethodType"/>
            <complexType mixed="true" name="DigestMethodType">
                <sequence>
                    <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </sequence>
                <attribute name="Algorithm" type="anyURI" use="required"/>
            </complexType>
            <element name="DigestValue" type="ds:DigestValueType"/>
            <simpleType name="DigestValueType">
                <restriction base="base64Binary"/>
            </simpleType>
            <element name="KeyInfo" type="ds:KeyInfoType"/>
            <complexType mixed="true" name="KeyInfoType">
                <choice maxOccurs="unbounded">
                    <element ref="ds:KeyName"/>
                    <element ref="ds:KeyValue"/>
                    <element ref="ds:RetrievalMethod"/>
                    <element ref="ds:X509Data"/>
                    <element ref="ds:PGPData"/>
                    <element ref="ds:SPKIData"/>
                    <element ref="ds:MgmtData"/>
                    <any namespace="##other" processContents="lax"/>
                </choice>
                <attribute name="Id" type="ID" use="optional"/>
            </complexType>
            <element name="KeyName" type="string"/>
            <element name="MgmtData" type="string"/>
            <element name="KeyValue" type="ds:KeyValueType"/>
            <complexType mixed="true" name="KeyValueType">
                <choice>
                    <element ref="ds:DSAKeyValue"/>
                    <element ref="ds:RSAKeyValue"/>
                    <any namespace="##other" processContents="lax"/>
                </choice>
            </complexType>
            <element name="RetrievalMethod" type="ds:RetrievalMethodType"/>
            <complexType name="RetrievalMethodType">
                <sequence>
                    <element minOccurs="0" ref="ds:Transforms"/>
                </sequence>
                <attribute name="URI" type="anyURI"/>
                <attribute name="Type" type="anyURI" use="optional"/>
            </complexType>
            <element name="X509Data" type="ds:X509DataType"/>
            <complexType name="X509DataType">
                <sequence maxOccurs="unbounded">
                    <choice>
                        <element name="X509IssuerSerial" type="ds:X509IssuerSerialType"/>
                        <element name="X509SKI" type="base64Binary"/>
                        <element name="X509SubjectName" type="string"/>
                        <element name="X509Certificate" type="base64Binary"/>
                        <element name="X509CRL" type="base64Binary"/>
                        <any namespace="##other" processContents="lax"/>
                    </choice>
                </sequence>
            </complexType>
            <complexType name="X509IssuerSerialType">
                <sequence>
                    <element name="X509IssuerName" type="string"/>
                    <element name="X509SerialNumber" type="integer"/>
                </sequence>
            </complexType>
            <element name="PGPData" type="ds:PGPDataType"/>
            <complexType name="PGPDataType">
                <choice>
                    <sequence>
                        <element name="PGPKeyID" type="base64Binary"/>
                        <element minOccurs="0" name="PGPKeyPacket" type="base64Binary"/>
                        <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                    </sequence>
                    <sequence>
                        <element name="PGPKeyPacket" type="base64Binary"/>
                        <any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                    </sequence>
                </choice>
            </complexType>
            <element name="SPKIData" type="ds:SPKIDataType"/>
            <complexType name="SPKIDataType">
                <sequence maxOccurs="unbounded">
                    <element name="SPKISexp" type="base64Binary"/>
                    <any minOccurs="0" namespace="##other" processContents="lax"/>
                </sequence>
            </complexType>
            <element name="Object" type="ds:ObjectType"/>
            <complexType mixed="true" name="ObjectType">
                <sequence maxOccurs="unbounded" minOccurs="0">
                    <any namespace="##any" processContents="lax"/>
                </sequence>
                <attribute name="Id" type="ID" use="optional"/>
                <attribute name="MimeType" type="string" use="optional"/>
                <attribute name="Encoding" type="anyURI" use="optional"/>
            </complexType>
            <element name="Manifest" type="ds:ManifestType"/>
            <complexType name="ManifestType">
                <sequence>
                    <element maxOccurs="unbounded" ref="ds:Reference"/>
                </sequence>
                <attribute name="Id" type="ID" use="optional"/>
            </complexType>
            <element name="SignatureProperties" type="ds:SignaturePropertiesType"/>
            <complexType name="SignaturePropertiesType">
                <sequence>
                    <element maxOccurs="unbounded" ref="ds:SignatureProperty"/>
                </sequence>
                <attribute name="Id" type="ID" use="optional"/>
            </complexType>
            <element name="SignatureProperty" type="ds:SignaturePropertyType"/>
            <complexType mixed="true" name="SignaturePropertyType">
                <choice maxOccurs="unbounded">
                    <any namespace="##other" processContents="lax"/>
                </choice>
                <attribute name="Target" type="anyURI" use="required"/>
                <attribute name="Id" type="ID" use="optional"/>
            </complexType>
            <simpleType name="HMACOutputLengthType">
                <restriction base="integer"/>
            </simpleType>
            <element name="DSAKeyValue" type="ds:DSAKeyValueType"/>
            <complexType name="DSAKeyValueType">
                <sequence>
                    <sequence minOccurs="0">
                        <element name="P" type="ds:CryptoBinary"/>
                        <element name="Q" type="ds:CryptoBinary"/>
                    </sequence>
                    <element minOccurs="0" name="G" type="ds:CryptoBinary"/>
                    <element name="Y" type="ds:CryptoBinary"/>
                    <element minOccurs="0" name="J" type="ds:CryptoBinary"/>
                    <sequence minOccurs="0">
                        <element name="Seed" type="ds:CryptoBinary"/>
                        <element name="PgenCounter" type="ds:CryptoBinary"/>
                    </sequence>
                </sequence>
            </complexType>
            <element name="RSAKeyValue" type="ds:RSAKeyValueType"/>
            <complexType name="RSAKeyValueType">
                <sequence>
                    <element name="Modulus" type="ds:CryptoBinary"/>
                    <element name="Exponent" type="ds:CryptoBinary"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    <wsdl:message name="rEnviDe">
        <wsdl:part element="tns:rEnviDe" name="rEnviDe">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="rRetEnviDe">
        <wsdl:part element="tns:rRetEnviDe" name="rRetEnviDe">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="de-ws-sync-recibe">
        <wsdl:operation name="rEnviDe">
            <wsdl:input message="tns:rEnviDe" name="rEnviDe">
            </wsdl:input>
            <wsdl:output message="tns:rRetEnviDe" name="rRetEnviDe">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="de-ws-sync-recibeSoap12" type="tns:de-ws-sync-recibe">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="rEnviDe">
            <soap12:operation soapAction=""/>
            <wsdl:input name="rEnviDe">
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="rRetEnviDe">
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="de-ws-sync-recibeService">
        <wsdl:port binding="tns:de-ws-sync-recibeSoap12" name="de-ws-sync-recibeSoap12">
            <soap12:address location="http://jboss.desa.set.gov.py/sifen-de/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>